<div class="form-inline">
	<select class="form-control" [(ngModel)]="field" ngbTooltip="Select field to filter by">
		<option value="name">Name</option>
		<option value="description">Description</option>
	</select>
	<input class="form-control" type="text" placeholder="Search terms" [(ngModel)]="search" ngbTooltip="Enter keywords to search for" />
</div>
<table class="table table-hover table-sm">
	<thead class="thead-light">
		<tr>
			<th>Project Name</th>
			<th>Description</th>
			<th>Stars</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let project of projects | filter:field:search" (click)="showDetail(project)">
			<td>{{project.name}}</td>
			<td><small class="text-muted">{{project.description}}</small></td>
			<td><span class="badge badge-info">{{project.stargazers_count}}</span></td>
		</tr>
	</tbody>
</table>
<div class="alert alert-warning" *ngIf="projects && (projects | filter:field:search).length === 0" role="alert">
	No projects match the search terms
</div>
